* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Roboto;
}

.barrier {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}    

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 84px;
    background-color: #007765;
}

.header_logo {
    display: inline-block;
    float: left;
    padding-bottom: 20px; 
    padding-top: 19px; 
}

.header_menu {
    float: right;
    display: inline-block;
    padding-bottom: 28px; 
    padding-top: 27px; 
    font-weight: 500;
    font-size: 24px;
}

.header_menu a{
    text-decoration: none;
    color: white;
}

.poster1 {
    text-align: center;
    background-image: url('../images/background1.png');
    background-size: cover;
    background-position: center;
    margin: 84px 0px;
}    

.poster1_title {
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    padding: 160px 0px;
    color: white;
}

.problem {
    margin-top: -84px;
    padding-top: 84px;
    width: 100%;
    background-color: #E5E5E5;
    padding-bottom: 60px;
}


.problem_title {
    margin-bottom: 53px;
    margin-top: 0px;
    text-align: center;
    font-size: 64px;
    color: #007765;
}

.problem p {
    max-width: 1110px;
    font-size: 32px;
    line-height: 37px;
    margin: 32px auto;
}    

.poster2 {
    width: 100%;
    background-image: url('../images/background2.png');
    background-size: cover;
    background-position: center;
    text-align: center;
}

.poster2_barrier {
    padding: 128px 0px;
}

.poster2_title {
    color: white;
    line-height: 56px;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
}

.coin {
    margin-top: -84px;
    padding-top: 84px;
    margin-bottom: 166px;
}

.coin_barrier {
    padding-top: 48px;
    margin: 0px auto;
    max-width: 1110px;
}    

.coin_image {
    float: left;
    margin-right: 48px;
}

.coin_title {
    line-height: 75px;
    font-weight: 500;
    font-size: 64px;
    text-align: center;
    color: #007765;
}

.coin_content {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
}

.coin_content * {
    padding: 20px 0px;
}

.team {
    margin-top: -84px;
    padding: 84px 0px;
    background-color: #EEEEEE;
    text-align: center;
}

.team * {
    background-color: #EEEEEE;
}

.team_barrier {
    max-width: 1110px;
    margin: 0px auto;
}

.team_title {
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    color: #007765;
}

.team_table {
    max-width: 1110px;
}

.team_profile {
    width: 350px;
    height: 283px;
}

.team_photo {
    width: 168px;
    height: 168px;
}

.team_name {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #007765;
}

.team_role {
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.end {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 64px;
    background: #333333;
}

.end_barrier {
    margin: 0px auto;
    padding: 0px auto;
    max-width: 550px;
}    

.end_content {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
